# Токен бота, полученный у @BotFather
BOT_TOKEN=123456789:ABCdefGHIjklMNOpqrSTUvwxYZ

# ID группы (узнать можно через сторонних ботов или логи)
# Нужно, чтобы бот точно знал, для какого чата он одобряет заявки
TARGET_CHAT_ID=-1001234567890

# Настройки для Бота-Тестировщика (UserBot)
# Получите API ID и API Hash на https://my.telegram.org
TELEGRAM_API_ID=12345678
TELEGRAM_API_HASH=abcdef0123456789abcdef0123456789
TEST_BOT_USERNAME=QuietLobbyBot
